# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints

# Virtual environment
venv/
.env

# Model weights
*.pth

# Output images
/data/processed/*.jpg

# System files
.DS_Store
Thumbs.db

# VSCode
.vscode/
